<nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">Navbar</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="#">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Features</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Pricing</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
  
  <h1 class="text">TENIS MAS VENDIDAS</h1>

  <div class="card">
    <div class="imgBx">
        <img src="../assets/images.jfif" alt="">
    </div>
    <div class="defails">
        <h3>NIke jorda 11 <br><span>men's shoe</span></h3>
        <h4>product defails</h4>
        <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. At cumque veritatis optio expedita ut voluptatibus similique provident facilis eum, fugiat exercitationem, distinctio, illo consectetur voluptas modi incidunt et minus odit?
        </p>

        <h4>size</h4>
        <ul class="size">
            <li>37</li>
            <li>42</li>
            <li>36</li>
            <li>44</li>
            <li>45</li>
        </ul>
        <div class="group">
            <h2><sub>$</sub><small>.100</small></h2>
           <a href="#">Buy Now</a>
        </div>
    </div>
</div>
